@{
    ViewBag.Title = "Home Page";
}

<!-- Banner Section Start-->
<section class="banner_sec">
    <figure style="background-image:url(/Content/imgs/about2.jpg)">
        <figcaption>
            <div class="container">
                <h1><span>COLLECTION</span> <br /> HAIR CUT & FACIAL</h1>
                <p>
                    There are many services are avalaible but only one condidition <br />
                    if you will join us . Let Book now if you are interested
                </p>
                <a href="#"><span>Make Appoinment</span></a>
            </div>
        </figcaption>
    </figure>
</section>
<!-- Banner Section Close-->
<!-- About Section Start-->
<section class="about_sec">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-12">
                <div class="imgbox">
                    <img src="~/Content/imgs/about1.jpg" alt="Alternate Text" />
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <div class="imgbox">
                    <img src="~/Content/imgs/about3.jpg" alt="Alternate Text" />
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-12">
                <div class="aboutdetail">
                    <h3>ABOUT US</h3>
                    <hr />
                    <p>I have been serving clients in the makeup and Beauty space such as MUAs and Beauty Bloggers. They all struggle with coming up with new content ideas for serving their target audience and attracting their tribe to their business service or products. I decided to put together 100+ content ideas so you never have to worry about coming up with new ideas to create and curate content to add value to your precious target audience.</p>

                    <p>Before we dive into the ideas, I want you to understand why content is key to your business success. </p>

                    <br />
                    <a href="#"><span>Contact Us</span></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About Section Close-->
<!-- What We do Section Start-->
<section class="whatwedo_sec">
    <div class="imgbox">
        <img src="~/Content/imgs/whatdowedo.jpg" alt="Alternate Text" />
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-offset-4 col-lg-7 col-12">
                <div class="content">
                    <h3>What We DO</h3>
                    <HR />
                    <p>There are many variations of passages Ipsum available but the majority have suffered alteration.</p>

                    <div class="box media">
                        <div class="imgbox">
                            <img src="~/Content/imgs/logodashboard.png" alt="Alternate Text" />
                        </div>
                        <div class="descbox">
                            <h6>Hair Style</h6>
                            <p>We cut the hair style on diffrent way</p>
                        </div>
                    </div>

                    <div class="box media">
                        <div class="imgbox">
                            <img src="~/Content/imgs/massage.png" alt="Alternate Text" />
                        </div>
                        <div class="descbox">
                            <h6>Massage</h6>
                            <p>Massage is a way for relexing body</p>
                        </div>
                    </div>

                    <div class="box media">
                        <div class="imgbox">
                            <img src="~/Content/imgs/wax.png" alt="Alternate Text" />
                        </div>
                        <div class="descbox">
                            <h6>WAXING</h6>
                            <p>Waxing make the body clean</p>
                        </div>
                    </div>




                </div>
            </div>
        </div>
    </div>
</section>
<!-- What We do Section Close-->
<!--Appoinment Section Start-->
<section class="appoinment_sec">
    <div class="container">
        <div class="mainBox">
            <div class="content">
                <a href="#">  <h3>Let Make Appoinment</h3></a>


            </div>
        </div>
    </div>
</section>
<!--Appoinment Section Close-->
<!--Product Section Start-->
<section class="product_sec">
    <div class="container">
        <div class="mainBox">
            <h2>BEAUTY PRODUCTS</h2>
            <hr />

            <div class="row">
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="box">
                        <div class="imgbox">
                            <img src="~/Content/imgs/product1.png" alt="Alternate Text" />
                            <div class="price">
                                <h6>Price:<span>$100</span></h6>
                            </div>
                            <input type="button" name="name" value="Buy Now" />
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-12">
                    <div class="box">
                        <div class="imgbox">
                            <img src="~/Content/imgs/product1.png" alt="Alternate Text" />
                            <div class="price">
                                <h6>Price:<span>$100</span></h6>
                            </div>
                            <input type="button" name="name" value="Buy Now" />
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-12">
                    <div class="box">
                        <div class="imgbox">
                            <img src="~/Content/imgs/product1.png" alt="Alternate Text" />
                            <div class="price">
                                <h6>Price:<span>$100</span></h6>
                            </div>
                            <input type="button" name="name" value="Buy Now" />
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-12">
                    <div class="box">
                        <div class="imgbox">
                            <img src="~/Content/imgs/product1.png" alt="Alternate Text" />
                            <div class="price">
                                <h6>Price:<span>$100</span></h6>
                            </div>
                            <input type="button" name="name" value="Buy Now" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--Product Section Close-->


<!--Our Best Services Start-->
<section class="service_sec">
    <div class="container">
        <div class="mainBox">
            <h2>Best Services</h2>
            <hr />

            <div class="row">
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="box">
                        <div class="imgbox">
                            <img src="~/Content/imgs/service1.jpg" alt="Alternate Text" />
                            <div class="detail">
                                <h6>OFFER:<span>BRIDAL MAKEUP</span></h6>
                                <P>
                                    Makeup Primer. Why it's essential: "You'll want to use all the tools at your disposal to keep your makeup fresh for photos all the way through the after-party. ...
                                    Foundation. ...
                                    Setting Powder. ...
                                    Black Mascara. ...
                                    Concealer Kit. ...
                                    Blush, Bronzer and Highlighter. ...
                                    Setting Spray. ...
                                    Waterproof Gel Liner.
                                </P>
                            </div>
                            <input type="button" name="name" value="GET SERVICES" />
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="box">
                        <div class="imgbox">
                            <img src="~/Content/imgs/service2.jpg" alt="Alternate Text" />
                            <div class="detail">
                                <h6>OFFER:<span>MEHNDI SERVICE</span></h6>
                                <P>
                                    Makeup Primer. Why it's essential: "You'll want to use all the tools at your disposal to keep your makeup fresh for photos all the way through the after-party. ...
                                    Foundation. ...
                                    Setting Powder. ...
                                    Black Mascara. ...
                                    Concealer Kit. ...
                                    Blush, Bronzer and Highlighter. ...
                                    Setting Spray. ...
                                    Waterproof Gel Liner.
                                </P>
                            </div>
                            <input type="button" name="name" value="GET SERVICES" />
                        </div>
                    </div>
                </div>

                   <div class="col-lg-4 col-md-6 col-12">
                    <div class="box">
                        <div class="imgbox">
                            <img src="~/Content/imgs/service1.jpg" alt="Alternate Text" />
                            <div class="detail">
                                <h6>OFFER:<span>BRIDAL MAKEUP</span></h6>
                                <P>
                                    Makeup Primer. Why it's essential: "You'll want to use all the tools at your disposal to keep your makeup fresh for photos all the way through the after-party. ...
                                    Foundation. ...
                                    Setting Powder. ...
                                    Black Mascara. ...
                                    Concealer Kit. ...
                                    Blush, Bronzer and Highlighter. ...
                                    Setting Spray. ...
                                    Waterproof Gel Liner.
                                </P>
                            </div>
                            <input type="button" name="name" value="GET SERVICES" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
   </div>
</section>
<!--Our Best Services Close-->

<footer>
    <div class="container">
        <P>Copyright © 2021 Willson DJ All rights reserved.</P>
    </div>
</footer>